villages.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Villages">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Village" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string"/>
                            <xs:element name="TroopProduction">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Troop" type="TroopType" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:int" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- definitions des troops -->
    <xs:complexType name="TroopType">
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="quantity" type="xs:int" use="required"/>
    </xs:complexType>

</xs:schema>